.payment_paynet_banks img {
	text-align:center;
}
.payment_paynet_banks_block {
    width: 230px;
    height: 800px;
    float: left;
    border: 1px solid #aaa;
    margin: 2px;
    background: #fff;
    padding: 2px;
	border-radius: 5px;
	overflow-x:auto;
}


.payment_paynet_banks_table{
}

.payment_paynet_banks_table tr {
	border-bottom: 1px solid #bbb;
    margin: 0px;
    text-align: center;

}
.payment_paynet_banks_table td {
	border-bottom: 1px solid #bbb;
    margin: 0px;
    text-align: center;
	padding: 7px 9px 3px 6px;

}

#payment_paynet_payment_button a {
	padding: 10px;
	background-color: #FBFBFB;
}


#payment_paynet_payment_button a:after {
	display: block;
	content: "\f054";
	position: absolute;
	right: 15px;
	margin-top: -11px;
	top: 50%;
	font-family: "FontAwesome";
	font-size: 25px;
	height: 22px;
	width: 14px;
	color: #777777;
}
